.hero{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 35px;
}
/* CIRCULAR */
.hero img {
    margin-top: 50px;
    height: 300px;
    width: 300px;
    border-radius: 50%; 
    object-fit: cover;
}

.hero-connect a{
    color: white;
    text-decoration: none;
}

.hero-resume a {
    color: white; 
    text-decoration: none; 
}

.hero-resume a:hover {
    text-decoration: underline;
}

.hero h1{
    text-align: center;
    width: 70%;
    font-size: 50px;
    font-weight: 400;
}

.hero h1 span{
    background: linear-gradient(270deg, #DF8908 10%, #B415FF 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hero p{
    width: 50%;
    text-align: center;
    font-size: 24px;
    line-height: 40px;
}

.hero-action{
    display: flex;
    align-items: center;
    gap: 25px;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 50px;
}

.hero-connect{
    padding: 25px 45px;
    border-radius: 50px;
    background: linear-gradient(264deg, #Df8908 -5.09%, #B415FF 106.02%);
    cursor: pointer;
}

.hero-connect i{
    font-size: 24px;
    margin-right: 8px;
}

.hero-resume{
    padding: 25px 75px;
    border-radius: 50px;
    border: 2px solid #fff;
    cursor: pointer;
}

.hero-connect:hover
{
    border: 2px solid white;
}

.hero-resume:hover
{
    border-color: #B415FF;
}

@media(max-width:768px){
    .hero img{
        margin-top: 120px;
        width: 300px;
    }

    .hero h1{
        margin-top: 50px;
        width: 90%;
        font-size: 40px;
    }

    .hero p{
        width: 60%;
        font-size: 18px;
        line-height: 32px;
        margin: 10px 0px;
    }

    .hero-action{
        gap: 16px;
        font-size: 18px;
        font-weight: 500;
        margin-bottom: 50px;
    }

    .hero-connect{
        padding: 20px 30px;
        border-radius: 40px;
    }

    .hero-resume{
        padding: 20px 50px;
        border-radius: 40px;
    }
}
