.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 170px;
}


.nav-menu{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 60px;
    font-size: 20px;
    justify-content: center;
}

.nav-connect{
    padding: 10px 20px;
    border-radius: 50px;
    background: linear-gradient(267deg, #DA7C25 0.36%, #B923E1 102.06%);
    font-size: 20px;
    cursor: pointer;
    transition: 0.5s;
    margin-left: auto;
}

.nav-connect:hover{
    transform: scale(1.05);
}

.logo{
    margin-right: auto;
}

.anchor-link{
    text-decoration: none;
    color: white;
}